<!-- # <h1>Calculator index</h1>
#<p>Find me in app/views/calculator/index.html.erb</p> -->

<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Calculator</h2>

      <%= form_with url: "/calculate", method: :post, local: true do %>
        <div class="mb-3">
          <label class="form-label">Enter Number</label>
          <%= number_field_tag :num1, params[:num1], class: "form-control", step: "any", id: "num1" %>
        </div>

        <div class="mb-3">
          <label class="form-label">Enter Second Number</label>
          <%= number_field_tag :num2, params[:num2], class: "form-control", step: "any", id: "num2" %>
        </div>

        <div class="mb-3">
          <label class="form-label">Select Operator</label>
          <%= select_tag :operation, options_for_select([["Add", "add"], ["Subtract", "subtract"], ["Multiply", "multiply"], ["Divide", "divide"], ["Percentage (no1 of no2)", "percentage"],
    ["Average", "average"]], params[:operation]), class: "form-select", id: "operation" %>
        </div>

        <div class="d-flex justify-content-between mt-3">
        <%= submit_tag "Calculate", class: "btn btn-primary w-50 me-2" %>
        <%= button_tag "Reset", type: "button", class: "btn btn-secondary w-50", onclick: "
            document.getElementById('num1').value = null;
            document.getElementById('num2').value = null;
            document.getElementById('operation').value = 'add';
            document.getElementById('result-box')?.remove();
            " %>
       </div>
      <% end %>

      <% if defined?(@result) %>
        <div class="alert alert-info mt-4", id="result-box">
          <h4 class="mb-0">Result: <%= @result %></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>

